{% extends "base.html" %}

{% block content %}
  <article class="fr pl3-ns w-100 pa0-ns w-80-ns mt3-ns pl4 pr4 pb3 pb5-ns" id='about'>
    <h1 class="">All We'd Ever Need Is One Another</h1>
    <h3>Adam Basanta 2018</h3>
    <p class="measure-wide lh-copy">
      <p>2 flat bed scanners, 3 networked PC computers, large format printer, office supplies, photo light, 12 inkjet prints on canvas, website, twitter, instagram.</p>
      <p><i>All We'd Ever Need is One Another</i> is a mixed-media installation which creates images autonomously through self-generating techniques: a continuously running “art-factory” operating independently of human input. </p>
      <p>The installation self-generates images using two flatbed scanners laying on their side, with scanning surfaces pointing at one another. A computer script creates automatic mouse movements, randomizing the settings of the proprietary scanning software interface, and beginning a scanning process. </p>
      <p>Each newly created image is then analyzed by a series of deep-learning algorithms trained on a database of contemporary artworks in economic and institutional circulation. When an image matches an existing artwork beyond an 83% match, it uploads it to this website and a twitter account.</p>
      <p>Playing on notions of technological automatization, the agency of objects, cultural consumption, and the economics of artistic production, the installation acts as a golem-like assemblage, continuously and mindlessly self-producing without regard for human spectators.</p>
      <p class='mt4 mb4'>“These images I describe are created by two desktop scanners directed at each other, reading the way light hits the glass on their counterpart, the way light emanates from one to the other. The two scanners are fixed one in front of the other, but movement is built into them and reflected on them. They mirror the light conditions in the room where they are set: when you see an abstract pictogram, you could be looking at the moon. Or at the strip of light in one of the scanners. They make landscapes that meld the site and the tool." – Orit Gat, excerpt from exhibition text</p>
    </p>

    <h4 class='mb0'>Production Credits</h4>
    <dl class="lh-title mt3">
      <dt class="f6 b">Computer Vision & Machine Learning Development</dt>
      <dd class="ml0">Greg Sadetsky <a href="http://greg.technology" target='_blank'>http://greg.technology</a></dd>
      <dt class="f6 b mt2">GUI Programming</dt>
      <dd class="ml0">Nicholas Estherer</dd>
    </dl>
  </article>
{% endblock %}